---
layout: archive
title: "Personal Life"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<p>My personal life is on this website <a href="https://wxinran6.wixsite.com/xinran-wang"><u>https://wxinran6.wixsite.com/xinran-wang</u></a></p>

<img src="https://wxinran6.github.io/xinran_wang.github.io/files/picknic.jpg" alt="picknic">
<img src="https://wxinran6.github.io/xinran_wang.github.io/files/icra_2023.jpg" alt="icra_2023">
<img src="https://wxinran6.github.io/xinran_wang.github.io/files/personal_life.png" alt="personal life">
<!-- {% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->

